@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000000;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

a,
button {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

a:hover,
button:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
}

h2,
h3 {
  font-weight: 800;
}

p {
  line-height: 2;
}

input,
label {
  display: block;
}

.lower-container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1180px;
  padding: 0 4%;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  text-align: center;
}

.heading-image {
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.heading-ttl {
  font-size: 3.6rem;
  padding-top: 20px;
}

@media screen and (max-width: 615px) {
  .heading-ttl {
    font-size: 3rem;
  }
}

@media screen and (max-width: 615px) and (max-width: 352px) {
  .heading-ttl {
    font-size: 2.6rem;
  }
}

.tablet-br {
  display: none;
}

@media screen and (max-width: 810px) {
  .tablet-br {
    display: block;
  }
}

@media screen and (max-width: 615px) {
  .tablet-br {
    display: none;
  }
  .pc-br {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  height: 100%;
  font-weight: 800;
}

@media screen and (max-width: 615px) {
  .header-inner {
    padding: 0 3%;
  }
}

.header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-right: 6.25%;
  line-height: 1px;
}

@media screen and (max-width: 615px) {
  .header-logo {
    margin-right: 0;
  }
}

.header-logo:hover {
  opacity: 1;
}

.header-logo-image {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 615px) {
  .header-logo-image {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 615px) and (max-width: 352px) {
  .header-logo-image {
    width: 25px;
    height: 25px;
  }
}

.header-logo-ttl {
  font-size: 3.2rem;
  margin-left: 15px;
  letter-spacing: 0.18em;
}

@media screen and (max-width: 615px) {
  .header-logo-ttl {
    font-size: 2.6rem;
    margin-left: 7px;
  }
}

@media screen and (max-width: 615px) and (max-width: 352px) {
  .header-logo-ttl {
    font-size: 2rem;
    letter-spacing: normal;
  }
}

.header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-list {
  margin-right: 30px;
}

.header-nav-list:last-child {
  margin-right: 0;
}

.header .hamburger {
  display: none;
}

.header .sp-list {
  display: none;
}

.headerColorScroll {
  background-color: #ffffff;
  -webkit-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}

.headerColorScroll a {
  color: #000000;
}

.headerColorScroll #js-hamburger {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.fv {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.fv-bgi {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 10;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 21s 0s infinite;
  animation: anime 21s 0s infinite;
}

.fv-bgi:nth-of-type(1) {
  background-image: url(../img/mainbg01.jpg);
}

.fv-bgi:nth-of-type(2) {
  background-image: url(../img/mainbg02.jpg);
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.fv-bgi:nth-of-type(3) {
  background-image: url(../img/mainbg03.jpg);
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

.fv-text {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  /* Chrome、Safari用 */
  -moz-writing-mode: vertical-rl;
  /* Firefox用 */
  -ms-writing-mode: tb-rl;
  /* IE用 */
  color: #ffffff;
  height: 286px;
  line-height: 2.3;
  letter-spacing: 0.2em;
  font-size: 3.4rem;
  font-weight: 500;
  position: absolute;
  top: 35%;
  right: 25.3%;
  -webkit-transform: translate(-25.3% -35%);
          transform: translate(-25.3% -35%);
  z-index: 11;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.copy {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.copy-inner {
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  /* Chrome、Safari用 */
  -moz-writing-mode: vertical-rl;
  /* Firefox用 */
  -ms-writing-mode: tb-rl;
  /* IE用 */
  padding: 149px 5.26% 6.25% 11.458%;
  text-align: justify;
  text-justify: inter-ideograph;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 615px) {
  .copy-inner {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    padding: 40px 0;
  }
}

.copy-ttl {
  font-size: 2.8rem;
  text-indent: -3em;
  line-height: 2.3;
  letter-spacing: 0.75em;
}

@media screen and (max-width: 615px) {
  .copy-ttl {
    text-indent: 0;
    line-height: normal;
    letter-spacing: normal;
    padding: 0 3% 2rem;
  }
}

.copy-text {
  height: 26em;
  text-orientation: upright;
  white-space: nowrap;
  line-height: 2.3;
  letter-spacing: 0.38em;
}

@media screen and (max-width: 615px) {
  .copy-text {
    height: auto;
    white-space: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 0 6% 2em;
  }
}

.copy-logo {
  font-size: 2.2rem;
  text-align: right;
  line-height: 2.3;
  letter-spacing: 0.38em;
}

@media screen and (max-width: 615px) {
  .copy-logo {
    line-height: normal;
    letter-spacing: 0.18em;
    padding: 0 6%;
  }
}

.flex-box {
  padding: 106px 0 78px;
}

.flex-box .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 810px) {
  .flex-box .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-box .flex:nth-child(even) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 122px 0;
}

@media screen and (max-width: 810px) {
  .flex-box .flex:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 61px 0;
  }
}

.flex-box .flex-image {
  width: 54.6%;
  padding-right: 7.1%;
}

.flex-box .flex-image img {
  min-height: 500px;
  max-height: 545px;
  width: 100%;
}

@media screen and (max-width: 810px) {
  .flex-box .flex-image {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 810px) and (max-width: 615px) {
  .flex-box .flex-image {
    position: relative;
  }
  .flex-box .flex-image img {
    min-height: 545px;
  }
}

.flex-box .flex-image:nth-of-type(even) {
  padding-right: 0;
  padding-left: 7.1%;
}

@media screen and (max-width: 810px) {
  .flex-box .flex-image:nth-of-type(even) {
    padding-left: 0;
  }
}

.flex-box .flex-content {
  padding-top: 32px;
  padding-right: 20px;
}

@media screen and (max-width: 810px) {
  .flex-box .flex-content {
    padding-right: 4%;
    padding-left: 4%;
  }
}

@media screen and (max-width: 810px) and (max-width: 615px) {
  .flex-box .flex-content {
    padding-top: 20px;
    position: absolute;
    color: #ffffff;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    min-height: 545px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.flex-box .flex-content-even {
  padding-right: 0;
  padding-left: 20px;
}

@media screen and (max-width: 810px) {
  .flex-box .flex-content-even {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media screen and (max-width: 810px) and (max-width: 615px) {
  .flex-box .flex-content-even {
    z-index: 3;
  }
}

.flex-box .flex-ttl {
  font-size: 3.6rem;
  padding-bottom: 75px;
  line-height: 1.72;
}

@media screen and (max-width: 615px) {
  .flex-box .flex-ttl {
    font-size: 2.4rem;
    padding-bottom: 50px;
    padding-top: 60px;
  }
}

.flex-box .flex-btn {
  display: block;
  color: #000000;
  border: solid 1px #707070;
  margin-top: 75px;
  width: 200px;
  height: 56px;
  line-height: 56px;
  text-align: center;
}

@media screen and (max-width: 615px) {
  .flex-box .flex-btn {
    color: #ffffff;
    border: solid 1px #ffffff;
    text-shadow: none;
  }
}

.recommended {
  background-image: url(../img/bg02.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recommended-inner {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 4% 144px 4%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.recommended-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 66px;
}

@media screen and (max-width: 615px) {
  .recommended-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recommended-list-item {
  width: 28%;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

@media screen and (max-width: 615px) {
  .recommended-list-item {
    width: 100%;
    padding-bottom: 60px;
  }
  .recommended-list-item:last-child {
    padding-bottom: 0;
  }
}

.recommended-list-item a {
  color: #000000;
}

.recommended-list-item-ttl {
  padding: 32px 0 36px;
  font-size: 2rem;
}

.recommended-list-item:hover {
  opacity: 0.8;
}

.access {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0 110px;
}

.access-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1307px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 4% 70px 4%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 810px) {
  .access-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.access-image {
  width: 50%;
}

@media screen and (max-width: 810px) {
  .access-image {
    width: 100%;
  }
}

.access-content {
  width: 43.4%;
  line-height: 2;
}

@media screen and (max-width: 810px) {
  .access-content {
    width: 100%;
  }
}

@media screen and (max-width: 810px) {
  .access-content dl {
    padding-top: 18px;
  }
}

.access-content dl dt {
  padding-bottom: 18px;
  font-weight: 800;
}

@media screen and (max-width: 810px) {
  .access-content dl dt {
    padding-bottom: 10px;
  }
}

.access-content dl dd {
  padding-bottom: 18px;
}

@media screen and (max-width: 810px) {
  .access-content dl dd {
    padding-bottom: 10px;
  }
}

.access-map {
  padding: 0 4%;
  max-width: 792px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: auto;
  margin: auto;
}

.access-map-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 74.7%;
}

@media screen and (max-width: 615px) {
  .access-map-inner {
    padding-top: 130%;
  }
}

.access-map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-inner {
  background-image: url(../img/bg03.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 64px 0 61px;
}

.footer-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list-item {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  /* Chrome、Safari用 */
  -moz-writing-mode: vertical-rl;
  /* Firefox用 */
  -ms-writing-mode: tb-rl;
  /* IE用 */
  margin-left: 30px;
  padding-bottom: 96px;
  font-size: 1.8rem;
}

.footer-list-item:first-child {
  margin-left: 0;
}

.footer-list-item a {
  color: #000000;
  font-size: 1.8rem;
  letter-spacing: 0.68em;
}

.footer .heading-ttl {
  display: block;
  color: #000000;
}

.footer .heading-ttl:hover {
  opacity: 1;
}

.footer-detail {
  padding-top: 72px;
}

.footer-detail-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 23px;
}

@media screen and (max-width: 352px) {
  .footer-detail-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-detail-item:last-child {
  padding-bottom: 0;
}

.footer-detail-item li {
  margin-left: 21px;
}

@media screen and (max-width: 352px) {
  .footer-detail-item li {
    margin-left: 0;
    text-align: center;
    line-height: 26px;
  }
}

.footer-detail-item:first-child {
  margin-left: 0;
}

.footer-detail-item .address {
  letter-spacing: 2.88px;
}

.footer-copy {
  display: block;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  padding: 23px 0 25px;
}

@media screen and (max-width: 810px) {
  .header .hamburger {
    display: block;
  }
  .header-nav {
    display: block;
    text-align: center;
  }
  .header-nav-list {
    margin-right: 0;
  }
  .noscroll {
    overflow: hidden;
  }
  .button {
    display: inline-block;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .hamburger {
    position: absolute;
    top: 22px;
    right: 2.3%;
    z-index: 11;
    width: 40px;
    height: 36px;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 29.77px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .hamburger__line::before, .hamburger__line::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    content: "";
    -webkit-transition: inherit;
    transition: inherit;
  }
  .hamburger__line::before {
    top: -10px;
  }
  .hamburger__line::after {
    top: 10px;
  }
  .hamburger[aria-expanded="true"] .hamburger__line {
    background-color: transparent;
  }
  .hamburger[aria-expanded="true"] .hamburger__line::before, .hamburger[aria-expanded="true"] .hamburger__line::after {
    top: 0;
    background-color: #000000;
  }
  .hamburger[aria-expanded="true"] .hamburger__line::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .hamburger[aria-expanded="true"] .hamburger__line::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .sp-global-menu {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: none;
    height: 100vh;
    color: #000000;
    background-color: #ffffff;
    z-index: 3;
    display: none;
  }
  .sp-global-menu .sp-list {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .sp-global-menu .header-nav {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  .sp-global-menu .header-nav-list {
    margin-bottom: 30px;
  }
  .sp-global-menu .header-nav-list a {
    color: #000000;
    font-size: 1.8rem;
  }
}

.headerColorScroll-false {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.news {
  /* タブメニュー */
  /* タブコンテンツ */
}

.news-inner {
  padding: 60px 4% 40px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.news .tab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .tab-menu__item:first-child {
  padding-right: 3%;
}

@media screen and (max-width: 615px) {
  .news .tab-menu__item:first-child {
    padding-right: 11%;
  }
}

.news .tab-menu__item:last-child {
  padding-right: 1.9%;
}

.news .tab-trigger {
  /* label */
  text-align: left;
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
}

.news .tab-trigger.is-active {
  text-decoration: underline;
}

.news .tab-content {
  padding-top: 49px;
}

.news .tab-content__item {
  display: none;
  text-align: left;
}

.news .tab-content__item-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 615px) {
  .news .tab-content__item-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news .tab-content__item-flex div {
  width: 48.3%;
}

@media screen and (max-width: 615px) {
  .news .tab-content__item-flex div {
    width: 100%;
  }
}

.news .tab-content__item-list {
  background-color: #f6f6f6;
  margin-bottom: 20px;
  width: 100%;
}

.news .tab-content__item-list a {
  padding: 15px 6.8% 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  max-height: 130px;
}

.news .tab-content__item-list img {
  width: 103px;
  height: 100px;
}

.news .tab-content__item-list-text {
  padding-left: 30px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.news .tab-content__item-list-text time {
  font-size: 1.4rem;
}

@media screen and (max-width: 810px) {
  .news .tab-content__item-list-text time {
    font-size: 1.3rem;
  }
}

.news .tab-content__item-list-text p {
  padding-top: 10px;
}

@media screen and (max-width: 810px) {
  .news .tab-content__item-list-text p {
    padding-top: 5px;
    font-size: 1.4rem;
    line-height: normal;
  }
}

.news .tab-content__item.is-active {
  display: block;
  -webkit-animation: fade 0.5s ease;
          animation: fade 0.5s ease;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4%;
}

.modal__container {
  font-weight: 500;
  background-color: #fff;
  padding: 1.51% 3.12% 0;
  max-width: 550px;
  min-height: 600px;
  overflow-y: auto;
  position: relative;
}

@media screen and (max-width: 615px) {
  .modal__container {
    max-width: 350px;
  }
}

@media screen and (max-width: 615px) and (max-width: 352px) {
  .modal__container {
    min-height: 400px;
  }
}

.modal__container-ttl {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 6.1%;
}

.modal__container .form {
  padding-top: 7.55%;
}

.modal__container .form-item {
  padding-bottom: 3.25%;
}

.modal__container .form-item:last-of-type {
  padding-bottom: 14.8%;
}

.modal__container .form-item-label {
  padding-bottom: 3.25%;
}

.modal__container .form-item-text {
  border: 1px solid #e7e7e7;
  padding: 2.32%;
  width: 100%;
  height: 32px;
  font-size: 1.4rem;
}

.modal__container .form-item-text::-webkit-input-placeholder {
  color: #797878;
  font-size: 1.4rem;
}

.modal__container .form-item-text:-ms-input-placeholder {
  color: #797878;
  font-size: 1.4rem;
}

.modal__container .form-item-text::-ms-input-placeholder {
  color: #797878;
  font-size: 1.4rem;
}

.modal__container .form-item-text::placeholder {
  color: #797878;
  font-size: 1.4rem;
}

.modal__container .form-item-select {
  border: 1px solid #e7e7e7;
  width: 100%;
  height: 32px;
  font-size: 1.4rem;
  cursor: pointer;
  padding-left: 10px;
  line-height: 32px;
}

.modal__container .form-item-select:invalid {
  color: #797878;
}

.modal__container .form-submit {
  display: block;
  border: solid 1px #707070;
  margin-right: auto;
  margin-left: auto;
  width: 198px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__container .form-submit:hover {
  background-color: #978f10;
  color: #ffffff;
}

.modal__close {
  text-align: center;
  padding: 10px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 22px;
}

@media screen and (max-width: 615px) {
  .modal__close {
    top: 0.3%;
    right: 3%;
  }
}

.modal__close img {
  width: 18px;
  height: 18px;
}

.modal__btn {
  background-color: #978f10;
  width: 170px;
  height: 54px;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}

@media screen and (max-width: 810px) {
  .modal__btn {
    width: 120px;
    height: 40px;
    margin-right: 13%;
  }
}

@media screen and (max-width: 810px) and (max-width: 352px) {
  .modal__btn {
    width: 110px;
  }
}

.modal__btn-image {
  padding-right: 10px;
}

.modal__btn-image img {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 615px) {
  .modal__btn-text {
    font-size: 1.4rem;
  }
}

/* Animation */
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  -webkit-animation: mmfadeIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
          animation: mmfadeIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  -webkit-animation: mmslideIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
          animation: mmslideIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  -webkit-animation: mmfadeOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
          animation: mmfadeOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  -webkit-animation: mmslideOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
          animation: mmslideOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.lower-header {
  background-color: #ffffff;
}

.lower-header a {
  color: #000000;
}

.lower-header .hamburger__line {
  background-color: #000000;
}

.lower-fv {
  min-height: calc(46vh + 80px);
  margin-bottom: 36px;
  position: relative;
}

.lower-fv-image img {
  min-height: calc(46vh + 80px);
}

.lower-fv-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 80px;
  color: #ffffff;
  font-size: 3.4rem;
}

.pagination {
  width: 117px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 98px;
}

@media screen and (max-width: 615px) {
  .pagination {
    margin-bottom: 50px;
  }
}

.pagination-list:first-child::after {
  content: ">";
  display: inline-block;
}

.pagination-list a {
  color: #000000;
}

.lower-copy {
  text-align: center;
  margin-bottom: 135px;
}

@media screen and (max-width: 615px) {
  .lower-copy {
    text-align: left;
    margin-bottom: 60px;
  }
}

.lower-item {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 141px;
}

.lower-item:last-child {
  margin-bottom: 150px;
}

@media screen and (max-width: 810px) {
  .lower-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lower-item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 810px) and (max-width: 615px) {
  .lower-item {
    margin-bottom: 20px;
  }
  .lower-item:last-child {
    margin-bottom: 30px;
  }
}

.lower-item-content {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5% 5.7% 0 20%;
  width: 68.89%;
  min-height: 381px;
}

.lower-item-content-even {
  padding-right: 20%;
  padding-left: 5.7%;
}

@media screen and (max-width: 810px) {
  .lower-item-content {
    width: 100%;
    padding-left: 4%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 810px) and (max-width: 615px) {
  .lower-item-content {
    background-image: none;
    position: absolute;
    height: 400px;
    color: #ffffff;
    padding-top: 15%;
    padding-right: 11%;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.lower-item-ttl {
  font-size: 2.4rem;
}

.lower-item-text {
  padding-top: 10.3%;
}

@media screen and (max-width: 615px) {
  .lower-item-text {
    padding-top: 10%;
  }
}

.lower-item-confirm {
  font-size: 1.4rem;
  padding-top: 10.3%;
  line-height: 1.5;
}

@media screen and (max-width: 615px) {
  .lower-item-confirm {
    padding-top: 10%;
  }
}

.lower-item-confirm-last {
  padding-bottom: 2em;
}

.lower-item-image {
  width: 44.9%;
  min-height: 300px;
  margin-top: -57px;
  margin-right: -148px;
  z-index: 5;
}

.lower-item-image img {
  width: 525px;
  height: 300px;
}

.lower-item-image-even {
  margin-right: 0;
  margin-left: -148px;
}

@media screen and (max-width: 810px) {
  .lower-item-image-even {
    margin-left: 0;
  }
}

@media screen and (max-width: 810px) {
  .lower-item-image {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .lower-item-image img {
    width: 100%;
  }
}

@media screen and (max-width: 810px) and (max-width: 615px) {
  .lower-item-image {
    position: relative;
    min-height: 400px;
  }
  .lower-item-image img {
    min-height: 400px;
  }
}

.menu-item-content {
  padding: 5% 4.8% 9.3% 20%;
}

.menu-item-content-even {
  padding-left: 4.8%;
  padding-right: 20%;
}

@media screen and (max-width: 810px) {
  .menu-item-content {
    padding-left: 4%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 810px) and (max-width: 615px) {
  .menu-item-content {
    padding-top: 15%;
    padding-right: 11%;
  }
}

.onsen-item-content {
  padding: 5% 10% 9.3% 20%;
}

.onsen-item-content-even {
  padding-left: 5.1%;
  padding-right: 17%;
}

@media screen and (max-width: 810px) {
  .onsen-item-content {
    padding-left: 4%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 810px) and (max-width: 615px) {
  .onsen-item-content {
    padding-top: 15%;
    padding-right: 11%;
  }
}

.onsen-efficacy {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 96.5px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.onsen-efficacy-inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 880px;
  margin-right: auto;
  margin-left: auto;
  padding: 90.5px 4% 74px 4%;
}

.onsen-efficacy-ttl {
  font-size: 2.6rem;
  padding-bottom: 47.5px;
  text-align: center;
}

.onsen-efficacy dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 1.5rem;
}

.onsen-efficacy dl dt {
  width: 25%;
  border-top: 1px solid #e7e7e7;
  padding-top: 14.5px;
  padding-bottom: 15.5px;
}

.onsen-efficacy dl dt:last-of-type {
  border-bottom: 1px solid #e7e7e7;
}

@media screen and (max-width: 615px) {
  .onsen-efficacy dl dt {
    width: 30%;
  }
}

.onsen-efficacy dl dd {
  width: 75%;
  border-top: 1px solid #e7e7e7;
  padding-top: 14.5px;
  padding-bottom: 15.5px;
}

.onsen-efficacy dl dd:last-of-type {
  border-bottom: 1px solid #e7e7e7;
}

@media screen and (max-width: 615px) {
  .onsen-efficacy dl dd {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */