*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: $main-size;
  color: $main-color;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝",
    "MS PMincho", serif;
  font-weight: $sub-weight;
}
img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
a,
button {
  text-decoration: none;
  color: $sub-color;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
ul {
  list-style: none;
}

h2,
h3 {
  font-weight: $main-weight;
}

p {
  line-height: 2;
}

input,
label {
  display: block;
}

// lower
.lower-container {
  box-sizing: content-box;
  max-width: 1180px;
  padding: 0 4%;
  margin-right: auto;
  margin-left: auto;
}
// ../lower

.heading {
  text-align: center;
  &-image {
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
  }
  &-ttl {
    font-size: 3.6rem;
    padding-top: 20px;
    @include mq(sp) {
      font-size: 3rem;
      @include mq(sh) { 
        font-size: 2.6rem;
      }
    }
  }
}

.tablet-br {
  display: none;
}
@include mq(tablet) {
  .tablet-br {
    display: block;
  }
}
@include mq(sp) {
  .tablet-br {
    display: none;
  }
  .pc-br {
    display: none;
  }
}
