$main-color: #000000;
$sub-color: #ffffff;
$reserve-color: #978f10;
$border-color: #707070;
$modal-color: #e7e7e7;
$news-bgc: #f6f6f6;
$main-size: 1.6rem;
$main-weight: 800;
$sub-weight: 500;

@mixin ja {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl; /* Chrome、Safari用 */
  -moz-writing-mode: vertical-rl; /* Firefox用 */
  -ms-writing-mode: tb-rl; /* IE用 */
}
@mixin dfo {
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -moz-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
}

//ブレイクポイントの種類を定義
$breakPoints: (
  "lg": "2000px",
  "pc": "1366px",
  "tablet-pro": "1024px",
  // "test": "958px",
  "tablet": "810px",
  // "tablet": "768px",
  // "hamburger": "665px",
  "sp": "615px",
  // "sp": "375px",
  "sh": "352px",
);

//メディアクエリを呼び出す記述
@mixin mq($breakPoint) {
  @media screen and (max-width: #{map-get($breakPoints, $breakPoint)}) {
    @content;
  }
}
