// fv
.fv {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  &-bgi {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: 10;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 21s 0s infinite;
    animation: anime 21s 0s infinite;
    &:nth-of-type(1) {
      background-image: url(../img/mainbg01.jpg);
    }
    &:nth-of-type(2) {
      background-image: url(../img/mainbg02.jpg);
      -webkit-animation-delay: 7s;
      animation-delay: 7s;
    }
    &:nth-of-type(3) {
      background-image: url(../img/mainbg03.jpg);
      -webkit-animation-delay: 14s;
      animation-delay: 14s;
    }
  }

  @keyframes anime {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      transform: scale(1.2);
      z-index: 9;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes anime {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale(1.2);
      z-index: 9;
    }
    100% {
      opacity: 0;
    }
  }

  &-text {
    @include ja;
    color: $sub-color;
    height: 286px;
    line-height: 2.3;
    letter-spacing: 0.2em;
    font-size: 3.4rem;
    font-weight: $sub-weight;
    position: absolute;
    top: 35%;
    right: 25.3%;
    transform: translate(-25.3% -35%);
    z-index: 11;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }
}
// .//fv

// copy
.copy {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  &-inner {
    width: 100%;
    max-width: 1180px;
    // width: 61.49%;
    margin-left: auto;
    margin-right: auto;
    @include ja;
    // padding: 7.76% 5.26% 6.25% 11.458%;
    padding: 149px 5.26% 6.25% 11.458%;
    // padding: 149px 101px 120px 220px;
    text-align: justify;
    text-justify: inter-ideograph;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq(sp) {
      @include dfo;
      padding: 40px 0;
    }
  }
  &-ttl {
    font-size: 2.8rem;
    text-indent: -3em;
    line-height: 2.3;
    letter-spacing: 0.75em;
    @include mq(sp) {
      text-indent: 0;
      line-height: normal;
      letter-spacing: normal;
      padding: 0 3% 2rem;
    }
  }
  &-text {
    height: 26em;
    text-orientation: upright;
    white-space: nowrap;
    line-height: 2.3;
    letter-spacing: 0.38em;
    @include mq(sp) {
      height: auto;
      white-space: normal;
      line-height: normal;
      letter-spacing: normal;
      padding: 0 6% 2em;
    }
  }
  &-logo {
    font-size: 2.2rem;
    text-align: right;
    line-height: 2.3;
    letter-spacing: 0.38em;
    @include mq(sp) {
      line-height: normal;
      letter-spacing: 0.18em;
      padding: 0 6%;
    }
  }
}
// .//copy

// flex
.flex-box {
  padding: 106px 0 78px;
  .flex {
    display: flex;
    @include mq(tablet) {
      flex-direction: column;
    }
    &:nth-child(even) {
      justify-content: flex-end;
      padding: 122px 0;
      @include mq(tablet) {
        flex-direction: column-reverse;
        padding: 61px 0;
      }
    }
    &-image {
      width: 54.6%;
      padding-right: 7.1%;
      img {
        min-height: 500px;
        max-height: 545px;
      }
      @include mq(tablet) {
        width: 100%;
        padding-right: 0;
        @include mq(sp) {
          position: relative;
          img {
            min-height: 545px;
          }
          // opacity: 0.8;
        }
      }
      &:nth-of-type(even) {
        padding-right: 0;
        padding-left: 7.1%;
        @include mq(tablet) {
          padding-left: 0;
        }
      }
    }
    &-content {
      padding-top: 32px;
      padding-right: 20px;
      @include mq(tablet) {
        padding-right: 4%;
        padding-left: 4%;
        @include mq(sp) {
          padding-top: 20px;
          position: absolute;
          // top: 50%;
          // left: 0;
          // transform: translateY(-50%);
          color: $sub-color;
          // text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
          text-shadow: 0 3px 6px rgba(255, 255, 255, 0.8);
          min-height: 545px;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
      &-even {
        padding-right: 0;
        padding-left: 20px;
        @include mq(tablet) {
          padding-left: 4%;
          padding-right: 4%;
          @include mq(sp) {
            z-index: 3;
          }
        }
      }
    }

    &-ttl {
      font-size: 3.6rem;
      padding-bottom: 75px;
      line-height: 1.72;
      @include mq(sp) {
        font-size: 2.4rem;
        padding-bottom: 50px;
        padding-top: 60px;
      }
    }
    &-btn {
      display: block;
      color: $main-color;
      border: solid 1px $border-color;
      margin-top: 75px;
      width: 200px;
      height: 56px;
      line-height: 56px;
      text-align: center;
      @include mq(sp) {
        color: $sub-color;
        border: solid 0.5px $sub-color;
        // -webkit-text-stroke: .5px $main-color;
        // background-color: rgba(255, 255, 255, 0.16);
        // background-color: rgba(112, 112, 112, 0.5);
        // background-color: rgba(246, 246, 246, .16);
        // box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16);
        text-shadow: none;
        // border: none;
        // background-color: $reserve-color;
        // transition: background-color 0.3s;
        // &:hover {
        //   background-color: rgba(112, 112, 112, 1);
        // }
      }
    }
  }
}
// .//flex

// recommended
.recommended {
  background-image: url(../img/bg02.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &-inner {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 4% 144px 4%;
    box-sizing: content-box;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
    @include mq(sp) {
      flex-direction: column;
    }
    &-item {
      width: 28%;
      transition: opacity 0.8s;
      @include mq(sp) {
        width: 100%;
        padding-bottom: 60px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      a {
        // max-height: 421.797px;
        color: $main-color;
      }
      &-ttl {
        padding: 32px 0 36px;
        font-size: 2rem;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// .//recommended

//access
.access {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0 110px;
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1307px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 4% 70px 4%;
    box-sizing: content-box;
    @include mq(tablet) {
      flex-direction: column;
    }
  }
  &-image {
    width: 50%;
    @include mq(tablet) {
      width: 100%;
    }
  }
  &-content {
    width: 43.4%;
    line-height: 2;
    @include mq(tablet) {
      width: 100%;
    }
    dl {
      @include mq(tablet) {
        padding-top: 18px;
      }
      dt {
        // padding-bottom: 24px;
        padding-bottom: 18px;
        font-weight: $main-weight;
        @include mq(tablet) {
          padding-bottom: 10px;
        }
      }
      dd {
        // padding-bottom: 24px;
        padding-bottom: 18px;
        @include mq(tablet) {
          padding-bottom: 10px;
        }
      }
    }
  }
  &-map {
    padding: 0 4%;
    max-width: 792px;
    box-sizing: content-box;
    margin-left: auto;
    margin: auto;
    &-inner {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 74.7%;
      @include mq(sp) {
        padding-top: 130%;
        // 140
      }
    }
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
// .//access
