// header
.lower-header {
  background-color: $sub-color;
  a {
    color: $main-color;
  }
  .hamburger__line {
    background-color: $main-color;
  }
}
// ..//header

// lower-fv
.lower-fv {
  // width: 100%;
  min-height: calc(46vh + 80px);
  margin-bottom: 36px;
  position: relative;
  &-image {
    img {
      min-height: calc(46vh + 80px);
    }
  }
  &-ttl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 80px;
    color: $sub-color;
    font-size: 3.4rem;
  }
}
// ..//lower-fv

// pagination
.pagination {
  width: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 98px;
  @include mq(sp) {
    margin-bottom: 50px;
  }
  &-list {
    &:first-child {
      &::after {
        content: ">";
        display: inline-block;
      }
    }
    a {
      color: $main-color;
    }
  }
}
// ..//pagination

// lower-copy
.lower-copy {
  text-align: center;
  margin-bottom: 135px;
  @include mq(sp) {
    text-align: left;
    margin-bottom: 60px;
  }
}
// ..//lower-copy

// lower-item
.lower-item {
  box-sizing: content-box;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 141px;
  &:last-child {
    margin-bottom: 150px;
  }
  @include mq(tablet) {
    flex-direction: column;
    &:nth-child(even) {
      flex-direction: column-reverse;
    }
    @include mq(sp) { 
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
  &-content {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 5.7% 110px 20%;
    width: 68.89%;
    &-even {
      padding-right: 20%;
      padding-left: 5.7%;
    }
    @include mq(tablet) {
      width: 100%;
      padding-left: 4%;
      padding-right: 15%;
      @include mq(sp) {
        background-image: none;
        position: absolute;
        height: 400px;
        // top: 0;
        // left: 0;
        color: $sub-color;
        padding-top: 15%;
        padding-right: 11%;
        // text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
        text-shadow: 0 3px 10px rgba(255, 255, 255, .8);
        z-index: 10;
        background-color: rgba(0, 0, 0, .5);
      }
    }
  }

  &-ttl {
    font-size: 2.4rem;
  }
  &-text {
    padding-top: 52px;
    @include mq(sp) { 
      padding-top: 10%;
    }
  }
  &-confirm {
    font-size: 1.4rem;
    padding-top: 52px;
    line-height: 1.5;
    @include mq(sp) { 
      padding-top: 10%;
    }
    &-last {
      padding-bottom: 2em;
    }
  }
  &-image {
    width: 44.9%;
    min-height: 300px;
    margin-top: -57px;
    margin-right: -148px;
    z-index: 5;
    &-even {
      margin-right: 0;
      margin-left: -148px;
      @include mq(tablt) { 
        margin-left: 0;
      }
    }
    @include mq(tablet) {
      width: 100%;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
      
      @include mq(sp) {
        position: relative;
        min-height: 400px;
        img {
        min-height: 400px;
        }
      }
    }
  }
}
// ..//lower-item
